*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   


}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0,8rem;
    background-color: #1c1c1c;
    
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type:none;
    display: flex;
    gap: 2rem;
    width: 100%;
    
}

.nav-list li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #CEA93A;
    }

    .cerrar-menu {
        color: #CEA93A;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
       text-align: center;
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }


}
.fondo{
    background-image: url(img/fondoo.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
}
h1{
    padding: 100px;
    text-align: center;
   color: white;
   font-size: 50px;
}

.parrafo{
    text-align: center;
    color: white;
    font-size: 30px;
    
    top: -80px;
}

input[type=image] {   
    margin-left: 25%;
    width: 150px;
    height: 150px;
}